<template>
  <q-page>
    <q-tab-panels v-model="panel" animated class="absolute-full">
      <q-tab-panel :name="1" class="bgFondo column text-white">
        <div class="col-1 row q-pa-md">
          <div class="text-h5 text-bold">Tus videos</div>
        </div>
        <div class="col-11 row items-end q-pb-md">
          <div class="col-12 text-center row justify-center q-pb-md q-px-sm">
            <div class="col-12 text-h5 text-bold">Aun no tienes videos</div>
            <div class="text-subtitle1 col-12 text-center q-pb-md">Presiona el botón <b>NUEVO VIDEO</b> para comenzar a cargar contenido</div>
            <q-btn
              label="Nuevo video"
              color="primary"
              class="col-6 text-bold text-h6"
              push
              no-caps
              @click="panel++"
            />
          </div>
        </div>
      </q-tab-panel>

      <q-tab-panel :name="2" class="column">
        <section class="row q-pa-md col-2">
          <div class="col-12 row">
            <div class="text-h5 q-pb-md">Tus videos</div>
            <q-btn
              class="col-12 q-py-xs text-h6"
              label="Nuevo video"
              color="primary"
              push
              no-caps
              dense
              @click="clickNewVideo"
            />
            <!-- q-file para detectar la subida del video -->
            <q-file
              style="display: none;"
              accept="video/*"
              ref="videoInput"
              v-model="videoObj"
              @input="changeVideoInput"
            />
          </div>
        </section>
        <versus-tab class="col-10" />
      </q-tab-panel>

      <!-- En este tab-panel se carga el componente para crear un versus -->
      <q-tab-panel :name="3">
        <new-versus :videoObj="videoObj" />
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import NewVersus from '../../../components/versus/NewVersus.vue'
import VersusTab from 'src/components/versus/VersusTab.vue'
export default {
  components: { NewVersus, VersusTab },
  data () {
    return {
      panel: 1,
      videoObj: null
    }
  },
  mounted () {
    this.getVersus()
  },
  methods: {
    changeVideoInput () {
      console.log(this.videoObj, 'videoObj')
      this.panel++
    },
    clickNewVideo () {
      this.$refs.videoInput.$el.click()
    },
    async getVersus () {
      this.$q.loading.show()
      await this.$api.get('versus').then(res => {
        this.$q.loading.hide()
        if (res.length > 0) {
          this.panel++
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.bgFondo {
  background-image: url('../../../../public/fondos/fondo3.jpg');
  background-size: cover;
}
.q-tab-panel {
  padding: 0 !important;
}

</style>
