<template>
  <q-page>
  <div class="column">
    <div class="q-mt-lg column justify-center items-center  text-secondary text-h5 text-bold"> {{ title }} </div>
    <div class="column q-pb-md justify-center items-center  text-secondary text-h7"> rellena el siguiente formulario para la creacion del producto </div>
  </div>

    <div class="row justify-center full-width q-col-gutter-y-md">
        <div class="row justify-center items-center col-12">
          <q-card @click="clickUploadImg" class="row items-center justify-center bg-grey col-xs-12 col-sm-5" style="height:100px">
            <div class="column justify-center items-center">
              <q-icon :name="$route.params.id ? 'edit' : 'upload'" size="lg" color="white"/>
              <q-file
                v-model="arrayImgProduct"
                ref="iconFileRef"
                accept=".jpg, image/*"
                multiple
                append
                max-files="4"
                style="display:none"
                :error="$v.arrayImgProduct.$error"
                @blur="$v.arrayImgProduct.$touch()"
              />
              <div class="text-white">{{ $route.params.id ? 'Edita la imagen aqui' : 'Selecciona una imagen' }} </div>
            </div>
          </q-card>
          <div class="row justify-center full-width">
            <p v-if="$v.arrayImgProduct.$error" class="row justify-center items-center col-12 text-subtitle1 text-red" > Ingresa una imagen </p>
          </div>
        </div>
        <q-dialog v-model="dialog">
          <q-card class="q-pa-md" style="width:600px;border-radius:25px">
            <div class="row justify-center items-center col-12">
              <q-card @click="clickUploadEditImg" class="row items-center justify-center bg-grey col-xs-12 col-sm-5" style="height:100px">
                <div class="column justify-center items-center">
                  <q-icon name="upload" size="lg" color="white" />
                  <q-file
                    v-model="arrayImgProductEdit"
                    ref="iconFileRef"
                    accept=".jpg, image/*"
                    multiple
                    append
                    max-files="4"
                    style="display:none"
                    :error="$v.arrayImgProductEdit.$error"
                    @blur="$v.arrayImgProductEdit.$touch()"
                  />
                  <div class="text-white">Selecciona una imagen. </div>
                </div>
              </q-card>
              <div class="row justify-center full-width">
                <p v-if="$v.arrayImgProductEdit.$error" class="row justify-center items-center col-12 text-subtitle1 text-red" > Ingresa una imagen </p>
              </div>
            </div>

            <div class="q-gutter-x-md q-pt-md q-pb-xl row col-xs-12 col-sm-5 justify-center">
              <q-card class="col-3" v-for="(item, index) in arrayImgProductEdit" :key="index" style="height:150px">
                <q-btn
                  round
                  size="xs"
                  color="red"
                  icon="close"
                  style="position:absolute;top:0;right:0"
                  @click="deleteImgEdit(index)"
                />
                <img :src="createObjUrlImgEdit(index)" width="100%" height="100%">
              </q-card>
            </div>
            <q-card-actions class="q-px-lg" align="center">
              <q-btn label="Guardar" color="primary" @click="guardarImg()" />
              <q-btn flat label="Cancelar" color="primary" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

      <div v-if="!$route.params.id" class="q-gutter-x-md row col-xs-12 col-sm-5 justify-start">
        <q-card class="col-3" v-for="(item, index) in arrayImgProduct" :key="index" style="height:150px">
          <q-btn
            round
            size="xs"
            color="red"
            icon="close"
            style="position:absolute;top:0;right:0"
            @click="deleteImg(index)"
          />
          <img :src="createObjUrlImg(index)" width="100%" height="100%">
        </q-card>
      </div>
      <div
        v-else
        class="q-gutter-x-md row col-xs-12 col-sm-5 justify-start"
      >
        <q-card class="col-3" v-for="(item, index) in form.imgs" :key="index" style="height:150px">
          <q-btn
            v-if="!$route.params.id"
            round
            size="xs"
            color="red"
            icon="close"
            style="position:absolute;top:0;right:0"
          />
          <img :src="createObjUrlImgApi(index)" width="100%" height="100%">
        </q-card>
      </div>

      <div class="row items-center justify-center col-12 q-pt-xl">
        <div class="col-xs-11 col-sm-5">
          <q-input
            v-model="form.name"
            outlined
            placeholder="Nombre del producto"
            :error="$v.form.name.$error"
            @blur="$v.form.name.$touch()"
          />
        </div>
      </div>

      <div class="row items-center justify-center col-12">
        <div class="col-xs-11 col-sm-5">
          <q-input
            v-model="form.description"
            outlined
            placeholder="Descripcion del producto"
            :error="$v.form.description.$error"
            @blur="$v.form.description.$touch()"
            type="textarea"
          />
        </div>
      </div>

        <div class="row items-center justify-center col-12">
          <div class="col-xs-11 col-sm-5">
              <q-select
                outlined
                v-model="form.category_id"
                :options="options"
                label="categoria"
                option-value="_id"
                option-label="name"
                map-options
                emit-value
                :error="$v.form.category_id.$error"
                @blur="$v.form.category_id.$touch()"
                @input="form.subcategory_id = null"
              />
          </div>
        </div>

        <div class="row items-center justify-center col-12">
          <div class="col-xs-11 col-sm-5">
            <q-select
              outlined
              v-model="form.subcategory_id"
              :options="filterSubcategories"
              label="Subcategoria"
              option-value="_id"
              option-label="name"
              map-options
              emit-value
              :error="$v.form.subcategory_id.$error"
              @blur="$v.form.subcategory_id.$touch()"
            />
          </div>
        </div>

     <!--   <div class="row justify-center items-center col-12">
        <div class="col-xs-11 col-sm-5">
          <q-file
            @input="createObjUrlImg()"
            v-model="iconObj.icon"
            ref="iconFileRef"
            accept=".jpg, image/*"
            outlined
            label="Seleccione un icono"
          >
            <template v-slot:after>
              <q-avatar round>
                <img :src="iconObj.iconUrl ? iconObj.iconUrl : $route.params.id ? `${$api_url()}category_img/${$route.params.id}` : 'logoq1.png'" alt="seleccion_icono">
              </q-avatar>
            </template>
          </q-file>
        </div>
      </div>-->

      <div class="row items-center justify-center col-12">
        <div class="col-xs-11 col-sm-5">
          <q-input
            v-model.number="form.precio"
            type="number"
            outlined
            placeholder="Introduce el precio"
            :error="$v.form.precio.$error"
            @blur="$v.form.precio.$touch()"
          />
        </div>
      </div>

    </div>

    <div class="row items-center justify-center q-pt-lg full-width q-gutter-x-sm q-pb-md">
      <div class="col-xs-4 col-sm-2">
        <q-btn to="/producto" label="Atras" color="secondary" push class="full-width" />
      </div>
      <div class="col-xs-4 col-sm-2">
        <q-btn label="Guardar" color="secondary" push class="full-width" @click="guardar()" />
      </div>
    </div>

  </q-page>
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
import { FormMixin } from '../../mixins/Form'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Nuevo Producto',
      route: 'producto',
      dialog: false,
      form: {
        name: '',
        description: '',
        precio: '',
        category_id: '',
        subcategory_id: ''
      },
      options: [],
      optionsSubcategories: [],
      arrayImgProduct: null,
      arrayImgProductEdit: null

    }
  },
  mounted () {
    this.obtener_categorias()
    this.obtener_subcategorias()
  },
  computed: {
    filterSubcategories () {
      return this.optionsSubcategories.filter(itm => itm.category_id === this.form.category_id)
    }
  },
  validations () {
    return {
      form: {
        name: { required },
        description: { required },
        precio: { required },
        category_id: { required },
        subcategory_id: { required }
      },
      arrayImgProduct: {
        required: requiredIf(function () {
          return !this.$route.params.id
        })
      },
      arrayImgProductEdit: {
        required: requiredIf(function () {
          return this.dialog
        })
      }
    }
  },
  methods: {
    createObjUrlImgApi (index) {
      const apiImg = this.$api_url() + `producto_img/${this.$route.params.id}/${index}`
      console.log(apiImg, 'daleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee', this.$api_url())
      return apiImg
    },
    async obtener_categorias () {
      await this.$api.get('categories').then(res => {
        this.options = res
      })
    },
    async obtener_subcategorias () {
      await this.$api.get('subcategories').then(res => {
        this.optionsSubcategories = res
      })
    },
    async guardar () {
      this.$v.$touch()
      if (this.$v.$invalid) { return }

      this.$q.loading.show()
      const formData = new FormData()
      if (!this.$route.params.id && this.arrayImgProduct.length > 0) {
        this.form.imgs = 0
        for (const i in this.arrayImgProduct) {
          formData.append('image_' + i, this.arrayImgProduct[i])
        }
        this.form.imgs = this.arrayImgProduct.length
      }
      formData.append('dat', JSON.stringify(this.form))
      const method = this.$route.params.id ? 'put' : 'post'
      const url = this.$route.params.id ? `${this.route}/${this.$route.params.id}` : this.route
      await this.$api[method](url, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registro guardado',
            color: 'positive'
          })
          this.$router.push('/producto')
        }
      })
    },
    async prueba () {
      this.$v.arrayImgProductEdit.$touch()
      console.log(this.$v.arrayImgProductEdit.$error)
    },
    async guardarImg () {
      this.$v.arrayImgProductEdit.$touch()
      if (this.$v.arrayImgProductEdit.$invalid) { return }

      this.$q.loading.show()
      const formData = new FormData()
      let imgs = 0
      if (this.arrayImgProductEdit.length > 0) {
        for (const i in this.arrayImgProductEdit) {
          formData.append('image_' + i, this.arrayImgProductEdit[i])
        }
        imgs = this.arrayImgProductEdit.length
      }

      formData.append('dat', JSON.stringify({
        imgs: imgs
      }))
      const url = `product_edit_img/${this.$route.params.id}`
      await this.$api.put(url, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registro guardado',
            color: 'positive'
          })
          this.getRecord()
          location.reload()
        }
      })
    },
    beforeValidate () {
      console.log(this.form, 'beforeValidate')
    },
    test () {
      console.log(this.form, 'form')
    },
    createObjUrlImg (ind) {
      const url = URL.createObjectURL(this.arrayImgProduct[ind])
      return url
    },
    createObjUrlImgEdit (ind) {
      const url = URL.createObjectURL(this.arrayImgProductEdit[ind])
      return url
    },
    clickUploadImg () {
      if (this.$route.params.id) {
        this.dialog = true
      } else {
        this.$refs.iconFileRef.$el.click()
      }
    },
    clickUploadEditImg () {
      this.$refs.iconFileRef.$el.click()
    },
    deleteImg (ind) {
      this.arrayImgProduct.splice(ind, 1)
    },
    deleteImgEdit (ind) {
      this.arrayImgProductEdit.splice(ind, 1)
    }
  }
}
</script>

<style>

</style>
