<template>
  <q-page class="q-pa-lg">
    <div class="text-h5 text-bold q-pl-lg"> {{title}} </div>
    <div class="full-width q-px-md">
      <!-- <listable
        :columns="columns"
        :apiroute="'producto'"
        :nameModule="'listado-producto'"
        :btnNewObject="btnNewObject"
        @changeBlocked="changeBlocked"
      /> -->
      <q-table
      :title="title"
      :data="data"
      :columns="columns"
      row-key="name"
      >
        <!-- <q-td
          slot="body-cell-actions"
          slot-scope="props"
          :props="props"
          v-if="checkIfActions()"
        >
          <q-btn
            v-for="action in props.row.actions"
            :key="action.icon"
            :to="action.url"
            :icon="action.icon"
            @click="changeStatus(props.row._id, action.title, props.row)"
            :color="action.color"
            size="sm"
            outline
            :disable="props.row.status === 'Revisado' ? true : false"
            style="margin-right:4px"
          >
            <q-tooltip>
              {{action.title}}
            </q-tooltip>
          </q-btn>
      </q-td> -->
      </q-table>
    </div>
  </q-page>
</template>

<script>
// import Listable from '../../components/Listable.vue'
export default {
  components: {
    // Listable
  },
  data () {
    return {
      title: 'Listado de Productos',
      btnNewObject: { title: 'Nuevo Producto', permission: '1', url: '/producto/form' },
      columns: [
        { name: 'name', label: 'Nombre', field: 'name', sortable: false, align: 'left' },
        { name: 'description', label: 'Descripción', field: 'description', sortable: false, align: 'left' },
        { name: 'productType', label: 'Tipo de Producto', field: 'productType', sortable: false, align: 'left' },
        { name: 'price', label: 'Precio', field: 'price', sortable: false, align: 'left' },
        { name: 'contentType', label: 'Tipo de Contenido', field: 'contentType', sortable: false, align: 'left' },
        { name: 'files', label: 'Cantidad de Archivos', field: 'files', sortable: false, align: 'left' }
        /* { name: 'isBlocked', label: 'Bloqueado', field: 'isBlocked', sortable: false, align: 'left', checkbox: true, funcionAEjecutar: 'changeBlockedProduct', modifyCheck: true }, */
        // { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ],
      data: []
    }
  },
  methods: {
    changeBlocked (newValue, id) {
      console.log('changeBlocked111', newValue, id)
      this.$api.put('producto_blocked/' + id, { isBlocked: newValue }).then(res => {
        if (res) {
          this.$q.notify({
            message: 'guardado correctamente',
            color: 'positive',
            icon: 'check'
          })
        }
      })
    },
    async getData () {
      await this.$api.get('getProducts').then(res => {
        if (res) {
          this.data = res
        }
      })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style>

</style>
