<template>
  <q-page>
  <div class="column">
    <div class="q-mt-lg column justify-center items-center  text-secondary text-h5 text-bold"> {{ title }} </div>
    <div class="column justify-center items-center  text-secondary text-h7"> rellene el formulario para completar el registro </div>
  </div>

    <div class="row justify-center full-width q-pl-xl q-col-gutter-y-md">

      <div class="row items-center justify-center col-12 q-pt-xl">
        <div class="col-xs-11 col-sm-5">
          <q-input
            v-model="form.name"
            outlined
            placeholder="Nombre"
            :error="$v.form.name.$error"
            @blur="$v.form.name.$touch()"
          />
        </div>
      </div>

      <div class="row items-center justify-center col-12">
        <div class="col-xs-11 col-sm-5">
          <q-input
            v-model="form.description"
            outlined
            placeholder="Descripcion"
            :error="$v.form.description.$error"
            @blur="$v.form.description.$touch()"
            type="textarea"
          />
        </div>
      </div>

      <div class="row justify-center items-center col-12">
        <div class="col-xs-11 col-sm-5">
          <q-file
            @input="createObjUrlImg()"
            v-model="iconObj.icon"
            ref="iconFileRef"
            accept=".jpg, image/*"
            outlined
            label="Seleccione un icono"
          >
            <template v-slot:after>
              <q-avatar round>
                <img :src="iconObj.iconUrl ? iconObj.iconUrl : $route.params.id ? `${$api_url()}category_img/${$route.params.id}` : 'logoq1.png'" alt="seleccion_icono">
              </q-avatar>
            </template>
          </q-file>
        </div>
      </div>

    </div>

    <div class="row items-center justify-center q-pt-lg q-pl-xl full-width q-gutter-x-sm q-pb-md">
      <div class="col-xs-4 col-sm-2">
        <q-btn to="/categories" label="Atras" color="secondary" push class="full-width" />
      </div>
      <div class="col-xs-4 col-sm-2">
        <q-btn label="Guardar" color="secondary" push class="full-width" @click="guardar()" />
      </div>
    </div>

  </q-page>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../mixins/Form'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Nueva categoria',
      route: 'categories',
      form: {
        name: '',
        description: ''
      },
      iconObj: {
        icon: null,
        iconUrl: null
      }
    }
  },
  validations () {
    return {
      form: {
        name: { required },
        description: { required }
      }
    }
  },
  methods: {
    async guardar () {
      this.$v.$touch()
      if (this.$v.$invalid) { return }

      this.$q.loading.show()
      const formData = new FormData()
      if (this.iconObj.icon) {
        formData.append('categoryIcon', this.iconObj.icon)
        this.form.icon = true
      } else {
        this.form.icon = false
      }

      formData.append('dat', JSON.stringify(this.form))
      const method = this.$route.params.id ? 'put' : 'post'
      const url = this.$route.params.id ? `${this.route}/${this.$route.params.id}` : this.route
      await this.$api[method](url, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registro guardado',
            color: 'positive'
          })
          this.$router.push('/categories')
        }
      })
    },
    beforeValidate () {
      console.log(this.form, 'beforeValidate')
    },
    test () {
      console.log(this.form, 'form')
    },
    createObjUrlImg () {
      this.iconObj.iconUrl = URL.createObjectURL(this.iconObj.icon)
    }
  }
}
</script>

<style>

</style>
