<template>
  <q-page class="q-pa-lg">
    <div class="text-h5 text-bold q-pl-lg"> {{title}} </div>
    <div class="full-width q-px-md">
      <listable
        :columns="columns"
        :apiroute="'categories'"
        :nameModule="'listado-categories'"
        :btnNewObject="btnNewObject"
      />
    </div>

    <div class="text-h5 text-bold q-pl-lg"> {{titleSub}} </div>
    <div class="full-width q-px-md">
      <listable
        :columns="columnsSub"
        :apiroute="'subcategories'"
        :nameModule="'listado-subcategories'"
        :btnNewObject="btnNewObjectSubcategory"
      />
    </div>
  </q-page>
</template>

<script>
import Listable from '../../components/Listable.vue'
export default {
  components: {
    Listable
  },
  data () {
    return {
      title: 'Listado de Categorias',
      titleSub: 'Listado de Subcategorias',
      btnNewObject: { title: 'Nueva Categoria', permission: '1', url: '/categories/form' },
      btnNewObjectSubcategory: { title: 'Nueva Sub Categoria', permission: '1', url: '/subcategories/form' },
      columns: [
        { name: 'name', label: 'Nombre', field: 'name', sortable: false, align: 'left' },
        { name: 'description', label: 'Descripcion', field: 'description', sortable: false, align: 'left' },
        { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ],
      columnsSub: [
        { name: 'name', label: 'Nombre', field: 'name', sortable: false, align: 'left' },
        { name: 'category', label: 'Categoria', field: 'category', sortable: false, align: 'left' },
        { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ]
    }
  }
}
</script>

<style>

</style>
