// app global css in SCSS form
.box-shadow-search-layout-ini {
  border-radius: 18px !important;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 3px 4px rgba(114, 114, 114, 0.1), 0 3px 14px rgba(116, 116, 116, 0.2);
  background-color: white;
  height: 48px;
  width: 300px;
}

.box-shadow-search-layout-second {
  background-color: white;
  height: 35px;
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.box-shadow-search-listable {
  background-color: rgba(233, 233, 233, 0.289);
  height: 38px;
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
  width:300px
}
