<template>
  <div class="column items-center">
    <div class="full-width row">
      <q-btn
        icon="double_arrow"
        flat
        color="black"
        size="lg"
        dense
        class="rotate-180"
        rounded
        to="/profile"
      />
      <div class="text-center window-width text-bold text-h5">Editar perfil</div>
    </div>

    <q-avatar
      class="q-mt-md q-mb-xl"
      size="125px"
      @click="clickImgPerfil"
    >
      <img :src="img ? img : `${$api_url()}profile_img/${form._id}`" style="height: 100%"/>
      <q-file
        borderless
        @input="profileImg()"
        style="display: none"
        v-model="imgObj"
        ref="imgPerfilF"
        accept=".jpg, image/*"
      >
      </q-file>
    </q-avatar>

    <div class="full-width q-px-lg row">
      <div class="col-12">
        <q-input outlined v-model="form.userName" placeholder="Escribe tu nombre de usuario" color="grey" :error="$v.form.userName.$error" @blur="$v.form.userName.$touch()">
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-input>
      </div>

      <div class="col-12">
        <q-input outlined v-model="form.email" type="email" placeholder="Escribe tu correo electrónico" color="grey" :error="$v.form.email.$error" @blur="$v.form.email.$touch()">
          <template v-slot:prepend>
            <q-icon name="email" />
          </template>
        </q-input>
      </div>

      <div class="col-12 row justify-center">
        <div class="col-10">
          <q-btn
            push
            class="q-mt-md text-h6 full-width"
            color="primary"
            label="Guardar"
            no-caps
            @click="changePerfil"
          />
        </div>
      </div>

      <div class="col-12 row justify-center q-pt-md">
        <q-btn
          label="Cambiar mi contraseña"
          flat
          color="primary"
          class="text-bold"
          @click="changePassDlg = true"
        />
      </div>

    </div>

    <q-dialog v-model="changePassDlg" full-width>
      <q-card class="row q-pa-md" style="border-radius:12px">
        <div class="col-12 text-subtitle1">Cambia tu contraseña</div>

        <div class="row q-gutter-y-xs q-pt-lg">

          <div class="col-12">
            <q-input
              outlined
              v-model="changePassObj.oldPassword"
              type="password"
              placeholder="Escribe tu contraseña actual"
              color="grey"
              :error="$v.changePassObj.oldPassword.$error"
              @blur="$v.changePassObj.oldPassword.$touch()"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </div>

          <div class="col-12">
            <q-input
              outlined
              v-model="changePassObj.newPassword"
              type="password"
              placeholder="Escribe tu nueva contraseña"
              color="grey"
              :error="$v.changePassObj.newPassword.$error"
              @blur="$v.changePassObj.newPassword.$touch()"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </div>

          <div class="col-12">
            <q-input
              outlined
              v-model="changePassObj.repeatpassword"
              type="password"
              placeholder="Repite tu nueva contraseña"
              color="grey"
              :error="$v.changePassObj.repeatpassword.$error"
              @blur="$v.changePassObj.repeatpassword.$touch()"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>
          </div>

          <div class="row justify-between q-pt-md">
            <q-btn
              label="Cancelar"
              flat
              color="black"
              @click="changePassDlg = false"
            />
            <q-btn
              label="Cambiar contraseña"
              outline
              color="primary"
              class="text-bold"
              @click="changePass()"
            />
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { required, email, sameAs } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      imgObj: null,
      img: null,
      userInfo: {
        userName: 'nombreusuario',
        perfil: null
      },
      form: {
        email: ''
      },
      changePassObj: {
        newPassword: '',
        repeatpassword: '',
        oldPassword: ''
      },
      email: '',
      changePassDlg: false
    }
  },
  validations: {
    form: {
      email: { required, email },
      userName: { required }
    },
    changePassObj: {
      newPassword: { required },
      repeatpassword: {
        sameAsPassword: sameAs((val) => val.newPassword)
      },
      oldPassword: { required }
    }
  },
  async mounted () {
    this.form = await this.$getUserInfo()
    this.email = this.form.email
  },
  methods: {
    async changePass () {
      this.$v.changePassObj.$touch()
      if (this.$v.changePassObj.$invalid) return
      this.$q.loading.show()
      await this.$api.put('change_password/' + this.form._id, this.changePassObj).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            color: 'positive',
            textColor: 'white',
            message: 'Contraseña cambiada correctamente'
          })
          this.changePassDlg = false
          this.changePassObj = {
            newPassword: '',
            repeatpassword: '',
            oldPassword: ''
          }
        }
      })
    },
    async changePerfil () {
      this.$v.form.$touch()
      console.log(this.$v.form.$invalid)
      if (!this.$v.form.$invalid) {
        this.$q.loading.show()
        if (this.email === this.form.email) {
          delete this.form.email
        }
        await this.$api.put('update_user/' + this.form._id, this.form).then(res => {
          this.$q.loading.hide()
          if (res) {
            this.$q.notify({
              type: 'positive',
              icon: 'check_circle',
              message: 'Perfil actualizado correctamente'
            })
          }
        })
        this.form = await this.$getUserInfo()
        this.email = this.form.email
      }
    },
    clickImgPerfil () {
      this.$refs.imgPerfilF.$el.click()
    },
    async profileImg () {
      this.img = URL.createObjectURL(this.imgObj)
      const formData = new FormData()
      formData.append('imgPerfil', this.imgObj)
      await this.$api.put('change_img_profile/' + this.form._id, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Haz cambiado tu foto de perfil',
            color: 'positive'
          })
        }
      })
    }
  }
}
</script>
