<template>
  <div>
    <div class="q-px-md q-pb-md">
      <div class="row items-center justify-center no-wrap q-mb-md">
        <q-avatar size="125px">
          <q-img :src="img" style="height: 100%"/>
        </q-avatar>

        <q-list>
          <q-item>
            <q-item-section avatar>
              <q-icon name="img:VS_logo3.png" color="white" size="40px"/>
            </q-item-section>

            <q-item-section>
              <q-item-label>Challenger</q-item-label>
              <q-item-label>Creados</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-item-label class="text-black text-bold text-h4">23</q-item-label>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section avatar>
              <q-avatar color="black">
                <!-- <q-img :src="img" style="height: 100%"/> -->
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>Challenger</q-item-label>
              <q-item-label>Participados</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-item-label class="text-black text-bold text-h4">23</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>

      <div class="row justify-center q-mb-md">
        <div class="text-center col">
          <div class="text-bold text-h4">23</div>
          <div>Seguidos</div>
        </div>

        <div class="text-center col">
          <div class="text-bold text-h4">23</div>
          <div>Seguidores</div>
        </div>

        <div class="text-center col">
          <div class="text-bold text-h4">23</div>
          <div>Reproducciones</div>
        </div>
      </div>

      <div class="row items-center q-gutter-lg">
        <q-btn push class="col" color="primary" label="Editar perfil" @click="$router.push('/edit_profile')" no-caps/>
        <q-icon name="img:medalla.png" color="primary" size="40px"/>
      </div>
    </div>

    <div class="q-px-md text-h6">Libreria de <b>Challenger</b></div>

    <q-tabs
      v-model="tab"
      dense
      class="text-grey q-mb-sm"
      active-color="secondary"
      indicator-color="white"
      align="justify"
      narrow-indicator
    >
      <q-tab name="creados" label="Challenger creados" no-caps/>
      <q-tab name="participados" label="Challenger participados" no-caps/>
    </q-tabs>

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="creados" class="row q-pa-none">
        <div v-for="(item, index) in 3" :key="index" class="col-xs-4 col-sm-2 col-md-2">
          <q-avatar square style="width: 100%; height: 175px">
            <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" :autoplay="false" loop muted>
              <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
              <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
            </video>
            <div class="absolute-bottom-left q-pa-xs">
              <div class="column items-center">
                <q-icon name="img:VS_logo5.png"/>
                <div class="text-caption text-white">10.3K</div>
              </div>
              <div class="column items-center">
                <q-icon name="favorite" color="white"/>
                <div class="text-caption text-white">10.3K</div>
              </div>
            </div>
          </q-avatar>
        </div>
      </q-tab-panel>

      <q-tab-panel name="participados" class="row q-pa-none">
        <div v-for="(item, index) in 5" :key="index" class="col-xs-4 col-sm-2 col-md-2">
          <q-avatar square style="width: 100%; height: 175px">
            <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" :autoplay="false" loop muted>
              <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
              <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
            </video>
            <div class="absolute-bottom-left q-pa-xs">
              <div class="column items-center">
                <q-icon name="img:VS_logo5.png"/>
                <div class="text-caption text-white">10.3K</div>
              </div>
              <div class="column items-center">
                <q-icon name="favorite" color="white"/>
                <div class="text-caption text-white">10.3K</div>
              </div>
            </div>
          </q-avatar>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import env from '../../../env'
export default {
  data () {
    return {
      img: null,
      tab: 'creados',
      userInfo: {
        userName: 'nombreusuario',
        perfil: null
      }
    }
  },
  async mounted () {
    this.userInfo = await this.$getUserInfo()
    if (this.userInfo.perfil) {
      this.img = env.apiUrl + 'perfil_img/' + this.userInfo._id
    } else {
      this.img = 'logo1.png'
    }
  },
  methods: {
  }
}
</script>
