<template>
  <q-page class="q-pa-lg">
    <div class="text-h5 text-bold q-pl-lg"> {{title}} </div>
    <div class="full-width q-px-md">
      <!--  <listable
        :columns="columns"
        :apiroute="'wallet'"
        :nameModule="'listado-wallet'"
        :btnNewObject="btnNewObject"
        @changeBlocked="changeBlocked"
      />-->
      <q-table
      :title="title"
      :data="data"
      :columns="columns"
      row-key="name"
      >
        <q-td
          slot="body-cell-actions"
          slot-scope="props"
          :props="props"
          v-if="checkIfActions()"
        >
          <q-btn
            v-for="action in props.row.actions"
            :key="action.icon"
            :to="action.url"
            :icon="action.icon"
            @click="changeStatus(props.row._id, action.title, props.row)"
            :color="action.color"
            size="sm"
            outline
            :disable="props.row.status === 'Revisado' ? true : false"
            style="margin-right:4px"
          >
            <q-tooltip>
              {{action.title}}
            </q-tooltip>
          </q-btn>
      </q-td>
      </q-table>
    </div>
    <div class="row justify-center q-pt-xl q-gutter-x-xl">
      <q-btn label="Modelo 1" color="primary" @click="model1 = true" />
      <q-btn label="Modelo 2" color="primary" @click="model2 = true" />
      <q-btn label="Modelo 3" color="primary" @click="model3 = true" />
    </div>
      <q-dialog v-model="model1">
        <q-card style="width:450px; border-radius:25px" class="q-pt-md q-px-md">
          <div class="q-pa-md row justify-between">
            <div class="column">
              <div class="text-caption text-bold">Fecha de solicitud</div>
              <div class="q-pl-md text-caption">10/12/2021</div>
            </div>
            <div class="text-yellow text-bold">pendiente</div>
          </div>
          <div class="column justify-center items-center">
            <div class="text-h6 text-bold">Aprobacion de retiro</div>
            <q-card flat class="q-pt-sm">
              <div class="row">
                <div class="q-pr-md">
                  <q-avatar size="90px">
                    <img src="https://cdn.quasar.dev/img/avatar.png">
                  </q-avatar>
                </div>
                <div class="column">
                  <div class="q-pb-md text-h6 text-bold">datos del solicitante</div>
                  <div class="row">
                    <div class="text-bold">Nombre Completo: </div>
                    <div class="">Nombre y apellido</div>
                  </div>
                  <div class="row">
                    <div class="text-bold">Correo Electronico: </div>
                    <div class="">Correo@gorus.com</div>
                  </div>
                </div>
              </div>
            </q-card>
            <div class="q-pt-xl text-h6 text-bold">¿Desea cambiar el estatus de la solicitud?</div>
            <div class="q-pa-md text-caption text-center">presione uno de los dos botones a continuacion para cambiar el estado de la solictud</div>
            <div class="column">
              <div class="q-pt-md text-center">Cantidad solicitada</div>
              <div class="q-pt-sm text-h6 text-center text-bold">$2.000</div>
            </div>
          </div>

          <q-card-actions class="q-py-xl" align="center">
            <div class="q-gutter-x-xl">
              <q-btn rounded label="Poner en espera" color="orange-8" style="width:140px" v-close-popup />
              <q-btn rounded label="Aprobar" color="positive" style="width:140px" v-close-popup />
            </div>
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="model2">
        <q-card style="width:450px; border-radius:25px" class="q-pt-md q-px-md">
          <div class="q-pa-md row justify-between">
            <div class="column">
              <div class="text-caption text-bold">Fecha de solicitud</div>
              <div class="q-pl-md text-caption">10/12/2021</div>
            </div>
            <div class="text-positive text-bold">pendiente</div>
          </div>
          <div class="column justify-center items-center">
            <div class="text-h6 text-bold">Aprobacion de retiro</div>
            <q-card flat class="q-pt-sm">
              <div class="row">
                <div class="q-pr-md">
                  <q-avatar size="90px">
                    <img src="https://cdn.quasar.dev/img/avatar.png">
                  </q-avatar>
                </div>
                <div class="column">
                  <div class="q-pb-md text-h6 text-bold">datos del solicitante</div>
                  <div class="row">
                    <div class="text-bold">Nombre Completo: </div>
                    <div class="">Nombre y apellido</div>
                  </div>
                  <div class="row">
                    <div class="text-bold">Correo Electronico: </div>
                    <div class="">Correo@gorus.com</div>
                  </div>
                </div>
              </div>
            </q-card>
            <div class="q-pt-xl text-h6 text-bold">Solicitud aprobada con exito</div>
            <div class="q-pa-md text-caption text-center">Se enviara una notificacion por correo electronico al usuario que solicito el retiro, informacion el cambio de estado de su solicitud</div>
            <div class="column">
              <q-avatar size="90px">
                <img src="https://cdn.quasar.dev/img/avatar.png">
              </q-avatar>
            </div>
          </div>
          <q-card-actions class="q-py-xl" align="center">
              <q-btn rounded label="Cerrar" color="grey" style="width:160px" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="model3">
        <q-card style="width:450px; border-radius:25px" class="q-pt-md q-px-md">
          <div class="q-pa-md row justify-between">
            <div class="column">
              <div class="text-caption text-bold">Fecha de solicitud</div>
              <div class="q-pl-md text-caption">10/12/2021</div>
            </div>
            <div class="text-yellow text-bold">pendiente</div>
          </div>
          <div class="row justify-center items-center">
            <div class="text-h6 text-bold text-center col-12">Aprobacion de retiro</div>
            <q-card flat class="q-pt-sm col-12">
              <div class="row q-px-md">
                <div class="q-pr-md col-4">
                  <q-avatar size="90px">
                    <img src="https://cdn.quasar.dev/img/avatar.png">
                  </q-avatar>
                </div>
                <div class="row col-8">
                  <div class="q-pb-md text-h6 text-bold col-12">datos del solicitante</div>
                  <div class="col-12 row">
                      <b class="q-pr-xs"> Nombre completo: </b> Nombre y Apellido
                  </div>
                  <div class="row col-12">
                    <b class="q-pr-xs">Correo electronico: </b> Correo@gorus.com
                  </div>
                </div>
              </div>
            </q-card>
            <div class="q-pt-xl text-h6 text-bold text-center col-12">¿Desea poner en modo de espera la solicitud?</div>
            <div class="q-pa-md text-caption text-center col-12">Se enviara una notificacion por correo electronico al usuario que solicito el retiro, informacion el cambio de estado de su solicitud</div>
            <div class="row col-12 q-px-md">
              <div class="col-12"> ● Ingrese un motivo</div>
              <q-input
                v-model="text"
                placeholder="Describe su problema hasta en 500 caracteres..."
                filled
                class="col-12"
                type="textarea"
              />
            </div>
          </div>
          <q-card-actions class="q-py-xl" align="center">
              <q-btn rounded label="Poner en espera" color="orange-8" style="width:160px" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
// import Listable from '../../components/Listable.vue'
export default {
  components: {
  // Listable
  },
  data () {
    return {
      model1: false,
      model2: false,
      model3: false,
      text: '',
      title: 'Listado de Nuevas solicitudes recibidas',
      btnNewObject: { title: 'Nueva Publicidad', permission: '1', url: '/publicidad/form' },
      columns: [
        { name: 'code', label: '#', field: 'code', sortable: false, align: 'left' },
        { name: 'amount', label: 'Cantidad', field: 'amount', sortable: false, align: 'left' },
        { name: 'userName', label: 'Usuario', field: 'userName', sortable: false, align: 'left' },
        { name: 'statusText', label: 'Opciones', field: 'statusText', sortable: false, align: 'center' },
        { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ],
      data: []
    }
  },
  methods: {
    checkIfActions () {
      return this.columns.find((element) => element.name === 'actions')
    },
    async changeStatus (id, title, element) {
      this.$q.dialog({
        title: 'Confirma',
        message: `¿Seguro deseas ${title} esta Solicitud?`,
        cancel: true,
        persistent: true
      }).onOk(async () => {
        this.$q.loading.show({
          message: 'Actualizando datos...'
        })
        await this.$api(`changeStatus/${title}/${id}`).then(res => {
          if (res) {
            this.getData()
            this.$q.loading.hide()
          }
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      })
    },
    changeBlocked (newValue, id) {
      console.log('changeBlocked111', newValue, id)
      this.$api.put('producto_blocked/' + id, { isBlocked: newValue }).then(res => {
        if (res) {
          this.$q.notify({
            message: 'guardado correctamente',
            color: 'positive',
            icon: 'check'
          })
        }
      })
    },
    async getData () {
      await this.$api.get('getWithdrawals').then(res => {
        if (res) {
          this.data = res
        }
      })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style>

</style>
