<template>
    <section
      class="absolute-full row bg-grey-2"
    >
      <div class="col-sm-6 col-xs-12 column items-center justify-center">
        <q-img src="logoq1.png" height="200px" width="200px" />
      </div>
      <div class="row q-pa-md col-sm-6 col-xs-12">
        <section class="col-12 row items-center bg-white q-pa-lg" style="border-radius:12px">
          <div class="col-12 row q-gutter-y-md">
            <div class="col-12 text-h4">Login</div>

            <div class="col-12 row">
              <div class="col-12 text-subtitle1">Ingresa nombre de usuario</div>
              <q-input
                v-model="form.email"
                placeholder="Usuario"
                outlined
                rounded
                class="col-12"
              >
                <template v-slot:prepend>
                  <q-icon name="bi-person-fill" color="black" />
                </template>
              </q-input>
            </div>

            <div class="col-12 row">
              <div class="col-12 text-subtitle1">Ingresa tu contraseña</div>
              <q-input
                v-model="form.password"
                placeholder="Contraseña"
                outlined
                rounded
                class="col-12"
                :type="isPwd ? 'password' : 'text'"
              >
                <template v-slot:prepend>
                  <q-icon class="cursor-pointer" :name="isPwd ? 'lock' : 'lock_open'" color="black" />
                </template>
              </q-input>
            </div>

            <!-- <div class="text-subtitle1">
              Olvidaste tu contraseña? <b>Presiona aqui</b>
            </div> -->

            <div class="column q-mt-lg col-6">
              <q-btn
                color="black"
                class="text-bold q-py-xs"
                @click="logueo"
                label="Ingresar"
                dense
                push
                rounded
              />
            </div>

          </div>
        </section>
      </div>
      <!-- <q-card class="col-12 row bg-green fit">
        <div class="col-6 column items-center">
          <div class="col-12 bg-red row items-center">
            <q-img />
          </div>
        </div>
        <div class="row q-pb-xl q-pa-md col-6">
          <div class="column q-mt-lg col-12">
            <div class="text-grey text-bold q-pb-sm text-uppercase"> Usuario </div>
            <q-input
              v-model="form.email"
              placeholder="Usuario"
              outlined
            >
              <template v-slot:prepend>
                <q-icon name="bi-person-fill" color="black" />
              </template>
            </q-input>
          </div>

          <div class="column q-mt-lg col-12">
            <div class="text-grey text-bold q-pb-sm text-uppercase"> Contraseña </div>
            <q-input
              v-model="form.password"
              placeholder="Contraseña"
              outlined
              :type="isPwd ? 'password' : 'text'"
            >
              <template v-slot:prepend>
                <q-icon class="cursor-pointer" :name="isPwd ? 'lock' : 'lock_open'" color="black" />
              </template>
            </q-input>
          </div>

          <div class="column q-mt-lg col-12">
            <q-btn
              :loading="loading"
              color="primary"
              class="text-bold"
              @click="logueo"
              label="Iniciar sesión"
              dense
              push
              no-caps
            />
          </div>

          <div class="col-12 text-white q-pt-md row">
            <div class="text-subtitle1 text-center col-12"> Soy nuevo, quiero <b @click="$router.push('/register')">REGISTRARME</b>  </div>
            <div class="text-subtitle1 text-center col-12"> Olvide mi <b> contraseña </b> </div>
          </div>
        </div>
      </q-card> -->

    <!-- <div class="col-6 bg-red">
        ssss
    </div>
    <div class="row q-pb-xl q-pa-md col-6">
      <div class="column q-mt-lg col-12">
        <div class="text-grey text-bold q-pb-sm text-uppercase"> Usuario </div>
        <q-input
          v-model="form.email"
          placeholder="Usuario"
          outlined
        >
          <template v-slot:prepend>
            <q-icon name="bi-person-fill" color="black" />
          </template>
        </q-input>
      </div>

      <div class="column q-mt-lg col-12">
        <div class="text-grey text-bold q-pb-sm text-uppercase"> Contraseña </div>
        <q-input
          v-model="form.password"
          placeholder="Contraseña"
          outlined
          :type="isPwd ? 'password' : 'text'"
        >
          <template v-slot:prepend>
            <q-icon class="cursor-pointer" :name="isPwd ? 'lock' : 'lock_open'" color="black" />
          </template>
        </q-input>
      </div>

      <div class="column q-mt-lg col-12">
        <q-btn
          :loading="loading"
          color="primary"
          class="text-bold"
          @click="logueo"
          label="Iniciar sesión"
          dense
          push
          no-caps
        />
      </div>

      <div class="col-12 text-white q-pt-md row">
        <div class="text-subtitle1 text-center col-12"> Soy nuevo, quiero <b @click="$router.push('/register')">REGISTRARME</b>  </div>
        <div class="text-subtitle1 text-center col-12"> Olvide mi <b> contraseña </b> </div>
      </div>
    </div> -->

  </section>

</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      form: {},
      isPwd: true,
      olv: false,
      loading: false
    }
  },
  methods: {
    ...mapMutations('generals', ['login']),
    async logueo () {
      this.$q.loading.show()
      await this.$api.post('login', this.form).then(res => {
        this.$q.loading.hide()
        if (res) {
          const rol = res.ONLY_SESSION_INFO.roles[0]
          if (rol === 1) {
            this.$router.push('home')
          }
          this.login(res)
        }
      })
    }
  }
}
</script>

<style lang="scss">
.background-login {
  // background: url('../../public/fondos/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
