<template>
  <q-page>
  <div class="column">
    <div class="q-mt-lg column justify-center items-center  text-secondary text-h5 text-bold"> {{ title }} </div>
    <div class="column justify-center items-center  text-secondary text-h7"> rellene el formulario para completar el registro </div>
  </div>

  <div class="row justify-center full-width q-pl-xl q-col-gutter-y-md">
      <div class="row items-center justify-center col-12 q-pt-xl">
        <div class="column" style="width:35%">
          <div class="q-pb-sm">Selecciona la categoria a la que pertenece</div>
            <div class="col-xs-11 col-sm-5">
              <q-select
                outlined
                v-model="form.category_id"
                :options="options"
                label="categoria"
                option-value="_id"
                option-label="name"
                map-options
                emit-value
                :error="$v.form.category_id.$error"
                @blur="$v.form.category_id.$touch()"
              />
            </div>
        </div>
      </div>
    </div>

    <div class="row justify-center full-width q-pl-xl q-col-gutter-y-md">
      <div class="row items-center justify-center col-12 q-pt-xl">
        <div class="column" style="width:35%">
          <div class="q-pb-sm">Nombre de Subcategoria</div>
            <div class="col-xs-11 col-sm-5">
              <q-input
                v-model="form.name"
                outlined
                placeholder="Subcategoria"
                :error="$v.form.name.$error"
                @blur="$v.form.name.$touch()"
              />
            </div>
        </div>
      </div>
    </div>

    <div class="row items-center justify-center q-pt-lg q-pl-xl full-width q-gutter-x-sm q-pb-md">
      <div class="col-xs-4 col-sm-2">
        <q-btn to="/categories" label="Atras" color="secondary" push class="full-width" />
      </div>
      <div class="col-xs-4 col-sm-2">
        <q-btn label="Guardar" color="secondary" push class="full-width" @click="save" />
      </div>
    </div>

  </q-page>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../mixins/Form'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Nueva Subcategoria',
      route: 'subcategories',
      form: {
        name: '',
        category_id: ''
      },
      options: []
    }
  },
  validations () {
    return {
      form: {
        name: { required },
        category_id: { required }
      }
    }
  },
  mounted () {
    this.obtener_categorias()
  },
  methods: {
    async obtener_categorias () {
      await this.$api.get('categories').then(res => {
        this.options = res
      })
    },
    beforeValidate () {
      console.log(this.form, 'beforeValidate')
    },
    test () {
      console.log(this.form, 'form')
    }
  }

}
</script>

<style>

</style>
