<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated v-if="!leftDrawerOpen">
      <q-toolbar class="bg-black">
        <q-btn
          dense
          flat
          color="white"
          size="lg"
          icon="bi-list"
          rounded
          @click="leftDrawerOpen = true"
        />

        <q-toolbar-title>
          <span>{{userInfo.userType}}</span>
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      content-class="bg-black text-white"
    >
      <div style="position:absolute;right:5px;top:0px">
        <q-btn
          dense
          flat
          color="white"
          size="lg"
          icon="bi-list"
          @click="leftDrawerOpen = false"
        />
      </div>
      <div class="full-width row justify-center q-pt-xl">
        <div class="col-12 row justify-center">
          <q-avatar size="150px" square style="border-radius:35%">
            <img src="logoq1.png" alt="logo1" width="100%">
          </q-avatar>
        </div>

        <div class="col-12 q-pt-md text-center">
          <div class="text-subtitle1 text-bold" style="line-height:15px">{{ userInfo.full_name }}</div>
          <div class="text-caption text-bold"> {{userInfo.userType}} </div>
        </div>
      </div>
      <q-list class="q-pt-lg q-ml-lg text-white">
        <div v-for="(item, index) in menuItems" :key="index">
          <q-item
            v-if="item.id"
            clickable
            @click="active_link_menu = item.id, item.title === 'Cerrar Sesión' ? confirmLogout() : $router.push(item.to)"
            :active="active_link_menu === item.id"
            active-class="item-menu--active"
          >
            <q-item-section>
              <q-item-label> {{item.title}} </q-item-label>
            </q-item-section>
          </q-item>
          <div v-else>
            <div class="q-pt-md text-bold text-subtitle1 text-left q-pb-sm"> {{item.title}} </div>
            <q-item
              v-for="(subitem, index) in item.children"
              :key="index"
              clickable
              v-ripple
              :to="subitem.to"
              @click="irARuta(subitem.to)"
              :active="active_link_menu === subitem.id"
              active-class="item-menu--active"
            >
              <q-item-section>
                <q-item-label> {{subitem.title}} </q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </div>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import SideBar from 'components/SideBar.vue'
import { mapMutations } from 'vuex'

const menuItem = [
  {
    id: 1,
    title: 'Inicio',
    to: '/home'
  },
  {
    id: 2,
    title: 'Categorias y Subcategorias',
    to: '/categories'
  },
  {
    id: 3,
    title: 'Productos',
    to: '/producto'
  },
  {
    id: 4,
    title: 'Configuracion Publicidad',
    to: '/publicidad'
  },
  {
    id: 5,
    title: 'Nuevas solicitudes',
    to: '/wallet'
  },
  {
    id: 6,
    title: 'Usuarios',
    to: '/user'
  },
  {
    id: 7,
    title: 'Cerrar Sesión'
  }
]

export default {
  name: 'MainLayout',
  // components: { SideBar },
  data () {
    return {
      leftDrawerOpen: false,
      menuItems: menuItem,
      active_link_menu: 1,
      userInfo: {
        full_name: 'Admin',
        userType: 'Root'
      }
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    ...mapMutations('generals', ['logout']),
    getUserInfo () {
      this.$api.get('user_info').then(res => {
        this.userInfo = res
      })
    },
    irARuta (ruta) {
      if (ruta) {
        this.$router.push(ruta)
      } else {
        this.logout()
        this.$router.push('/login')
      }
    },
    mLogout () {
      this.logout()
      this.$router.push('/login')
    },
    async confirmLogout () {
      this.$q.dialog({
        title: '¡Confirmación!',
        message: '¿Desea cerrar su sesión?',
        cancel: {
          label: 'Cancelar',
          outline: true,
          color: 'positive'
        },
        persistent: true,
        ok: {
          label: 'Si',
          push: true,
          color: 'negative'
        }
      }).onOk(() => {
        this.mLogout()
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
<style lang="scss">
.item-menu--active {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 15px 0 0 15px;
  position: relative;
}

.item-menu--active:active {
  background-color: #ffffff;
  border-radius: 15px 0 0 15px;
}

.item-menu--active:hover {
  background-color: #ffffff;
  border-radius: 15px 0 0 15px;
}
</style>
