<template>
  <q-page class="q-pa-lg">
    <div class="text-h5 text-bold q-pl-lg"> {{title}} </div>
    <div class="full-width q-px-md">
     <!--   <listable
        :columns="columns"
        :apiroute="'user'"
        :nameModule="'listado-user'"
        @changeBlocked="changeBlocked"
      /> -->

      <q-table
      :title="title"
      :data="data"
      :columns="columns"
      row-key="name"
    />
    </div>
  </q-page>
</template>

<script>
// import Listable from '../../components/Listable.vue'
export default {
  components: {
  //  Listable
  },
  data () {
    return {
      title: 'Listado de Usuarios',
      // btnNewObject: { title: 'Nueva Publicidad', permission: '1', url: '/publicidad/form' },
      columns: [
        { name: 'userName', label: 'Nombre', field: 'userName', sortable: false, align: 'left' },
        { name: 'last_name', label: 'Apellido', field: 'last_name', sortable: false, align: 'left' },
        { name: 'email', label: 'Correo electronico', field: 'email', sortable: false, align: 'left' },
        { name: 'fecha', label: 'Fecha Registro', field: 'fecha', sortable: false, align: 'left' },
        { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ],
      data: [
        {
          userName: 'Frozen Yogurt',
          last_name: 'apellido',
          email: 'correo@gorus.com',
          fecha: '12/12/2019',
          status: 'Pendiente'
        },
        {
          userName: 'Frozen Yogurt',
          last_name: 'apellido',
          email: 'correo@gorus.com',
          fecha: '12/12/2019',
          status: 'Pendiente'
        },
        {
          userName: 'Frozen Yogurt',
          last_name: 'apellido',
          email: 'correo@gorus.com',
          fecha: '12/12/2019',
          status: 'Pendiente'
        },
        {
          userName: 'Frozen Yogurt',
          last_name: 'apellido',
          email: 'correo@gorus.com',
          fecha: '12/12/2019',
          status: 'Pendiente'
        }
      ]
    }
  },
  methods: {
    changeBlocked (newValue, id) {
      console.log('changeBlocked111', newValue, id)
      this.$api.put('producto_blocked/' + id, { isBlocked: newValue }).then(res => {
        if (res) {
          this.$q.notify({
            message: 'guardado correctamente',
            color: 'positive',
            icon: 'check'
          })
        }
      })
    }
  }
}
</script>

<style>

</style>
