<template>
  <q-card class="bg-white no-shadow" style="border: none !important">
    <q-card-section style="padding: 0 !important" v-if="newObjectBtnProps && mostrarColumnas">
      <div class="row full-width q-pt-md q-pb-md q-pr-md">
        <div v-if="newObjectBtnProps.subtitle" class="text-subtitle2"> {{newObjectBtnProps.subtitle}} </div>
        <q-space />
        <q-btn :label="newObjectBtnProps.title" icon="add" rounded color="secondary" push :to="newObjectBtnProps.url" />
      </div>
    </q-card-section>
    <q-card-section>
      <div class="row full-width">
        <div class="column q-gutter-y-md" v-if="mostrarColumnas">
          <div class="row items-center q-gutter-x-sm">
            <div>Mostrar</div>
            <q-select dense outlined v-model="pagination.rowsPerPage" class="bg-white" :options="[5, 10, 15, 20, 25, 30, 50, 100]" />
            <div>resultados</div>
          </div>
          <div class="row items-center q-gutter-x-md">
            <div>
             <div>Pulsa en la lista “Columnas” para seleccionar las columnas que quieras ver.</div>
            </div>
            <q-select
              v-model="visibleColumns"
              multiple
              dense
              options-dense
              outlined
              emit-value
              map-options
              :options="columns"
              @input="changeLS"
              option-value="name"
              style="min-width: 150px;"
              class="bg-white"
              display-value="Columnas"
              options-selected-class="text-secondary"
            />
          </div>
        </div>
        <div class="column full-width">
          <div class="text-h6 text-bold" style="line-height: 22px"> Busqueda </div>
          <div class="text-caption q-pb-sm"> Filtrar por cualquier informacion que se encuentre en la tabla </div>
          <div class="row full-width">
            <div>
              <q-input dense class="box-shadow-search-listable" v-model="filter" placeholder="Buscar..." borderless>
                <template v-slot:append>
                  <q-icon v-if="filter === ''" name="search" />
                  <q-icon v-else name="bi-x" class="cursor-pointer" @click="filter = ''" />
                </template>
              </q-input>
            </div>
            <q-space />
            <div v-if="newObjectBtnProps">
              <q-btn
                :label="newObjectBtnProps.title"
                icon="add"
                rounded
                color="secondary"
                push
                no-caps
                :to="newObjectBtnProps.url ? newObjectBtnProps.url : null"
                @click="execute(newObjectBtnProps.action)"
              />
            </div>
          </div>

        </div>

      </div>
    </q-card-section>
    <q-card-section class="q-pa-none">
      <q-table :data="dataMostrar" :columns="columnsView" flat :visible-columns="visibleColumns" no-results-label="No hay Datos"
        hide-bottom :loading="loading" class="" :filter="filter" row-key="_id" ref="tabla_listable" :separator="'vertical'"
        :pagination.sync="pagination" hide-pagination dense :selection="selectedItem ? 'single' : 'none'" :selected.sync="selected"
      >
        <!--
        <template v-slot:header-cell="props">
            <q-th :props="props">
              <div class="column justify-center">
                <div class="text-subtitle1">{{props.col.label}}</div>
                <div class="container">
                  <input
                    v-if="props.col.name !== 'actions'"
                    class="full-width input-filters"
                    v-model="columnsFilterInput[props.col.field]"
                    bg-color="red-1"
                    borderless
                    dense
                    @input="inputFilterChange(props)"
                  />
                  <span class="border"></span>
                </div>
              </div>
            </q-th>
        </template>
         -->

        <template v-slot:body-cell="props">
          <q-td :props="props" :class="props.rowIndex % 2 === 0 ? 'bg-grey-1' : 'bg-white'">

            <!--  <q-btn :label="props.value" @click="testProp(props)" />  -->
            <div v-if="props.col.checkbox">
              <q-checkbox
                v-model="dataMostrar[props.rowIndex][props.col.field]"
                @input="changeCheckTable(props.col.funcionAEjecutar, props.value, props.row._id, props.col.field)"
                :disable="!props.col.modifyCheck"
              />
              <!--  <q-btn @click="changeCheckTable(props)" color="warning" /> -->
            </div>
            <div v-else-if="props.col.color" style="width:20px;height:20px;border-radius:100%" :style="`background-color: ${props.row.color}`" > </div>
            <div v-else-if="props.col.toggleBtn">
              <q-toggle
                v-model="dataMostrar[props.rowIndex][props.col.field]"
                color="positive"
                keep-color
                @input="changeBlockToggle(props.value, props.row._id, props.col.field)"
              />
            </div>
            <div v-else-if="props.col.messageBtn">
              <q-btn icon="bi-chat-left-dots-fill" color="blue" flat round @click="$emit('messageClick', props.row)" />
            </div>
            <div v-else-if="props.col.subcategorias">
              <q-chip
                color="primary"
                text-color="white"
                dense
                class="q-px-sm"
                v-for="itm in props.value"
                :key="itm"
                style="min-width: 50px;max-width:50px"
              >
                {{itm}}
              </q-chip>
            </div>
            <div v-else>
              {{props.value}}
            </div>
          </q-td>
        </template>

        <template v-slot:body-cell-actions="props" v-if="checkIfActions">
          <q-td :props="props" :class="props.rowIndex % 2 === 0 ? 'bg-grey-1' : 'bg-white'">
            <div class="row no-wrap q-gutter-x-xs justify-center">
              <q-btn
                v-for="n in props.row.actions"
                :key="n.title"
                :icon="n.icon"
                style="width:120px"
                class="text-black"
                dense
                size="11px"
                :label="n.title"
                push
                :to="n.url ? n.url : null"
                @click="execute(n.action, props.row._id, props.row, n)"
                :color="n.color ? n.color : 'primary'"
              />
            </div>
          </q-td>
        </template>

      </q-table>
    </q-card-section>
    <q-card-section>
      <div class="row q-mt-md">
      <q-space />
      <q-pagination
        v-model="pagination.page"
        color="black"
        :max="pagesNumber"
        size="sm"
        direction-links
        boundary-links
        icon-first="skip_previous"
        icon-last="skip_next"
        icon-prev="fast_rewind"
        icon-next="fast_forward"
        round
        active-color="black"
        active-text-color="white"
      />
    </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { date } from 'quasar'
import { mapGetters } from 'vuex'

const accionesPermitidas = [
]

export default {
  name: 'TableActions',
  computed: {
    ...mapGetters('generals', ['can']),
    dataMostrar () {
      return this.data
    },
    pagesNumber () {
      return Math.ceil(this.data.length / this.pagination.rowsPerPage)
    },
    checkIfActions () {
      console.log(this.columnsView.find((element) => element.name === 'actions'), 'VERIFICANDO SI EXISTEN ACCIONES')
      return this.columnsView.find((element) => element.name === 'actions')
    },
    checkIfMensajes () {
      console.log(this.columnsView.find((element) => element.name === 'mensajes'))
      return this.columnsView.find((element) => element.name === 'mensajes')
    },
    checkIfColor () {
      console.log(this.columnsView.find((element) => element.name === 'color'), 'checkIfColor')
      return this.columnsView.find((element) => element.name === 'color')
    },
    newObjectBtnProps () {
      return this.btnNewObject
    }
  },
  props: {
    btnNewObject: {
      default: null
    },
    apiroute: {
      type: String,
      default: ''
    },
    columns: {
      type: Array
    },
    selectedItem: {
      type: Boolean,
      default: false
    },
    nameModule: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      mostrarColumnas: false,
      avatar: false,
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 25
        // rowsNumber: xx if getting data from a server
      },
      filter: '',
      loading: false,
      test: true,
      data: [],
      selected: [],
      visibleColumns: [],
      columnsView: [],
      filtros: {
        fecha: date.formatDate(new Date(), 'YYYY/MM/DD')
      },
      columnsFilterInput: {
      },
      dataRespaldo: [],
      actionsPermises: accionesPermitidas
    }
  },
  async mounted () {
    this.columnsView = this.columns
    this.visibleColumns = this.columnsView.map((element) => element.name)
    console.log(this.fechaFilter, 'fecha filter mounted')
    await this.getRecord()
    // this.verificarLS()
  },
  methods: {
    changeCheckTable (name, newValue, id, field) {
      console.log('changeCheckTable', newValue, id, name, field)
      if (typeof this[name] === 'function') {
        this[name](newValue, id, field)
      }
    },
    changeBlockedProduct (newValue, id) {
      console.log('changeBlockedProduct')
      this.$emit('changeBlocked', newValue, id)
    },
    objActions (moduleName, title, url, action, icon, permission) {
      return {
        moduleName: moduleName,
        title: title,
        url: url,
        action: action,
        icon: icon,
        permission: permission
      }
    },
    generarAcciones (data) {
      for (const j of data) {
        j.actions = []
        for (const i of this.actionsPermises) {
          if (this.can(i.permission) && i.moduleName === this.nameModule) {
            j.actions.push(
              this.objActions(
                i.moduleName,
                i.title,
                i.url ? this.$route.path + '/form/' + j._id : null,
                i.action,
                i.icon,
                i.permission
              )
            )
          }
        }
      }
      return data
    },
    inputFilterChange (val) {
      const objs = Object.entries(this.columnsFilterInput)
      const data = this.dataRespaldo
      const filtrado = data.filter((element) => {
        let flag = true
        objs.forEach((obj) => {
          if (element[obj[0]] !== null) {
            if (element[obj[0]].toString().toLowerCase().indexOf(obj[1].toLowerCase()) === -1) {
              flag = false
            }
          }
        })
        return flag
      })
      this.data = filtrado
    },
    changeLS () {
      const value = this.$q.localStorage.getItem('versus_info_columns_listables')
      const findApiRoute = value.find(val => val.apiroute === this.apiroute)
      findApiRoute.visibleColumns = this.visibleColumns
      this.$q.localStorage.set('versus_info_columns_listables', value)
    },
    verificarLS () {
      const value = this.$q.localStorage.getItem('versus_info_columns_listables')
      if (value) {
        if (value.length > 0) {
          const find = value.find(val => val.apiroute === this.apiroute)
          if (find) {
            this.visibleColumns = find.visibleColumns
          } else {
            value.push({
              apiroute: this.apiroute,
              visibleColumns: this.visibleColumns
            })
            this.$q.localStorage.set('versus_info_columns_listables', value)
          }
        }
      } else {
        this.$q.localStorage.set('versus_info_columns_listables', [{
          apiroute: this.apiroute,
          visibleColumns: this.visibleColumns
        }])
      }
    },
    async getRecord () {
      this.$q.loading.show()
      await this.$api.get(this.apiroute).then(res => {
        this.$q.loading.hide()
        if (res) {
          if (this.checkIfActions) {
            const data = res // this.generarAcciones(res)
            this.data = [...data]
            this.dataRespaldo = [...data]
          } else {
            this.data = res
            this.dataRespaldo = res
          }
        }
      })
    },
    execute (name, id, row, action) {
      console.log(name, 'name', id, 'id', row, 'row', action, 'action')
      if (typeof this[name] === 'function') {
        console.log('entra aqui')
        this[name](id, row, action)
      }
    },
    new () {
      this.$emit('newRegister')
    },
    async changeBlockToggle (newValue, id, field) {
      console.log('changeBlock', newValue, id, field)
      this.$q.loading.show()
      await this.$api.put('change_block/' + id, { [field]: newValue }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.getRecord()
        }
      })
    },
    delete (id) {
      this.$q.dialog({
        title: '¡Atención!',
        message: '¿Eliminar el registro?',
        cancel: {
          label: 'Cancelar',
          outline: true
        },
        persistent: true,
        ok: {
          label: 'Eliminar',
          push: true
        }
      }).onOk(() => {
        this.confirmDelete(id)
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    async confirmDelete (id) {
      this.$q.loading.show()
      await this.$api.delete(this.apiroute + '/' + id).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.getRecord()
          this.$q.notify({
            message: 'Eliminado Correctamente',
            color: 'positive'
          })
        }
      })
    },
    async sacarMod (ind) {
      // sacar mod para el color de la fila
      if (ind % 2 === 0) {
        console.log(ind, '0')
        return 'bg-white'
      } else {
        return 'bg-red'
      }
    }
  }
}
</script>

<style scoped lang="scss">
.style-btn-actions {
  border-radius: 10px
}

.container {
  width: auto;
  position: relative;
}

.border {
  margin-left: 15px;
  margin-right: 15px;
}

.input-filters {
  min-width: 100px;
  border-radius: 12px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  height:40px;
  background: $red-1;
}

.input-filters ~ .border {
 position: absolute;
 bottom: 0;
 left: 50%;
 width: 0;
 height: 2px;
 background-color: $secondary;
}

.input-filters:focus {
  outline: none;
}

.input-filters:focus ~ .border {
  width: calc(100% - 35px);
  transition: 0.4s;
  left: 0;
}
</style>
