<template>
  <q-scroll-area class="absolute-full q-pa-sm">
    <q-btn icon="bi-arrow-left" flat round to="/login" />
    <q-card class="row no-shadow">
      <div class="col-12 text-center text-h5 q-pt-md">Registro de Usuario</div>

      <!-- Foto de perfil -->
      <div class="col-12 row justify-center q-pt-md">
        <div class="col-12 row justify-center"  @click="addImg">
          <q-avatar size="150px" square style="border-radius:35%" class="avatar-component">
            <q-icon
              v-if="!imgObj.imgPerfil"
              name="camera_front"
              style="width:100%;height:100%"
            />
            <img
              v-else
              :src="imgObj.imgPerfilUrl"
              alt="imagen_perfil"
            >
            <q-file
              @input="createObjUrlImg()"
              style="display:none"
              v-model="imgObj.imgPerfil"
              ref="imgPerfilF"
              accept=".jpg, image/*"
            />
          </q-avatar>
        </div>
        <div class="col-12 text-center q-pt-xs text-caption text-grey-7">Sube tu imagen de perfil aqui</div>
      </div>
      <!---->

      <section class="row col-12 q-pa-sm q-pt-md q-col-gutter-y-none">

        <div class="col-12">
          <q-input
            v-model="form.userName"
            placeholder="Escribe tu nombre de usuario"
            outlined
            :error="$v.form.userName.$error"
            @blur="$v.form.userName.$touch()"
          >
            <template v-slot:prepend>
              <q-icon name="bi-person-fill" color="grey" />
            </template>
          </q-input>
        </div>

        <div class="col-12">
          <q-input
            v-model="form.password"
            placeholder="Escribe tu contraseña"
            outlined
            type="password"
            :error="$v.form.password.$error"
            @blur="$v.form.password.$touch()"
          >
            <template v-slot:prepend>
              <q-icon name="lock" color="grey" />
            </template>
          </q-input>
        </div>

        <div class="col-12">
          <q-input
            v-model="repeatPass"
            placeholder="Repite tu contraseña"
            outlined
            type="password"
            :error="$v.repeatPass.$error"
            @blur="$v.repeatPass.$touch()"
          >
            <template v-slot:prepend>
              <q-icon name="lock" color="grey" />
            </template>
          </q-input>
        </div>

        <div class="col-12">
          <q-input
            outlined
            v-model="form.email"
            placeholder="Correo electrónico"
            :error="$v.form.email.$error"
            @blur="$v.form.email.$touch()"
            type="email"
          >
            <template v-slot:prepend>
              <q-icon name="mail" color="grey-5" />
            </template>
          </q-input>
        </div>

        <section class="col-12 row q-pt-lg">
          <div class="col-12">
            <q-btn label="Registrarme" push class="full-width" color="primary" no-caps style="height:50px" @click="save" />
          </div>
        </section>

      </section>

    </q-card>
  </q-scroll-area>
</template>

<script>
// importar vuelidate
import { required, email, sameAs } from 'vuelidate/lib/validators'
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      form: {},
      imgObj: {
        imgPerfil: null,
        imgPerfilUrl: null
      },
      repeatPass: ''
    }
  },
  methods: {
    ...mapMutations('generals', ['login']),
    async save () {
      this.$q.loading.show()
      const formData = new FormData()
      if (this.imgObj.imgPerfil) {
        formData.append('imgPerfil', this.imgObj.imgPerfil)
        this.form.perfil = true
      } else {
        this.form.perfil = false
      }

      formData.append('dat', JSON.stringify(this.form))
      await this.$api.post('register_user_app', formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registrado exitosamente',
            color: 'positive'
          })
          this.login(res)
          this.$router.push('home')
        }
      })
    },
    addImg () {
      const inputFile = this.$refs.imgPerfilF
      inputFile.$el.click()
    },
    createObjUrlImg () {
      this.imgObj.imgPerfilUrl = URL.createObjectURL(this.imgObj.imgPerfil)
      console.log(this.imgObj, 'imgObj')
    }
  },
  validations () {
    return {
      form: {
        email: { required, email },
        password: { required },
        userName: { required }
      },
      repeatPass: {
        sameAsPassword: sameAs(() => this.form.password)
      }
    }
  }
}
</script>

<style lang="scss" scope>

.avatar-component {
  border:1px solid #000;
  max-width: 150px;
  min-width:150px;
}

</style>
