<template>
  <div class="column items-center">
    <div class="full-width">
      <div class="text-center text-bold text-h5">Challenger</div>
    </div>

    <q-item>
      <q-item-section avatar class="column items-center">
        <q-avatar size="100px">
          <q-img :src="userInfo.perfil ? baseu + userInfo._id : 'logo1.png'" style="height: 100%"/>
        </q-avatar>
        <q-item-label class="text-subtitle1 text-bold">@{{userInfo.userName}}</q-item-label>
      </q-item-section>

      <q-item-section>
        <q-avatar square style="width: 200px; height: 120px">
          <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" autoplay loop muted>
            <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
            <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
          </video>
        </q-avatar>
      </q-item-section>
    </q-item>

    <div class="full-width q-pa-md">
      <div class="text-center">
        <div class="text-bold text-subtitle1">INSTRUCCIONES</div>
        <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque vipsa quae abv</div>
      </div>
    </div>

    <q-item>
      <q-item-section avatar>
        <div class="row items-center">
          <q-avatar size="30px" v-for="(participImg, index) in 5" :key="index" :style="index >= 1 ? 'margin-left: -15px' : ''">
            <q-img :src="userInfo.perfil ? baseu + userInfo._id : 'logo1.png'" style="height: 100%"/>
          </q-avatar>
        </div>
      </q-item-section>

      <q-item-section>
        <q-item-label>1.5k Participantes</q-item-label>
      </q-item-section>
    </q-item>

    <q-separator class="q-mb-lg q-mt-sm" style="width: 85%"/>

    <div class="full-width">
      <div class="text-center text-bold text-h5">Publica tu respuesta</div>
    </div>

    <q-btn push class="q-my-md text-h6" color="primary" label="Nuevo video" style="width: 90%" no-caps/>

    <q-avatar class="q-my-sm" color="black" square style="width: 90%; height: 150px">
      <video width="100%" height="100%" class="absolute-center" poster="https://cdn.quasar.dev/img/polina.jpg" autoplay loop muted>
        <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
        <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
      </video>
    </q-avatar>

    <q-input
      class="q-my-md"
      placeholder="Descripción de tu respuesta"
      v-model="description"
      outlined
      type="textarea"
      style="width: 90%"
    />

    <q-item class="full-width">
      <q-item-section avatar top class="q-pt-sm">
        <q-icon name="insert_comment" color="secondary"/>
      </q-item-section>

      <q-item-section top class="q-pt-sm">
        <q-item-label class="text-subtitle1">Permitir comentarios</q-item-label>
      </q-item-section>

      <q-item-section side>
        <div class="column items-center">
          <q-checkbox
            v-model="comments"
            checked-icon="check_circle_outline"
            unchecked-icon="highlight_off"
          />
          <q-item-label style="font-size: 9px">{{comments ? 'Habilitado' : 'Inhabilitado'}}</q-item-label>
        </div>
      </q-item-section>
    </q-item>

    <q-btn push class="q-my-lg text-h6" color="primary" label="Retar" style="width: 90%" no-caps/>
  </div>
</template>

<script>
import env from '../../env'
export default {
  data () {
    return {
      baseu: null,
      description: '',
      comments: false,
      userInfo: {
        userName: 'nombreusuario',
        perfil: null
      }
    }
  },
  async mounted () {
    this.userInfo = await this.$getUserInfo()
    this.baseu = env.apiUrl + 'perfil_img/'
  },
  methods: {
  }
}
</script>
