<template>
  <q-page class="pagina" id="asd">
    <!--  <q-btn @click="scrollToElement" class="col-12" color="primary" label="epa" /> -->
    <div class="container">
      <div class="slide">
        <div class="box" v-for="(itm, ind) in data" :key="ind">
          <img :src="itm.img" width="100%" style="height:calc(100vh - 110px)" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
// import { scroll } from 'quasar'
// const { getScrollTarget, setScrollPosition } = scroll
// import Hammer from 'hammerjs'
export default {
  data () {
    return {
      scrollInfo: {},
      data: [
        { id: 1, name: 'John Doe1', img: 'logo1.png' },
        { id: 2, name: 'John Doe2', img: 'corazon1.png' },
        { id: 3, name: 'John Doe3', img: 'logo1.png' },
        { id: 4, name: 'John Doe4', img: 'iface.png' },
        { id: 5, name: 'John Doe5', img: 'iinsta.png' },
        { id: 6, name: 'John Doe6', img: 'splash.png' },
        { id: 7, name: 'John Doe8', img: 'corazon1.png' },
        { id: 8, name: 'John Doe8', img: 'iinsta.png' },
        { id: 9, name: 'John Doe8', img: 'iface.png' },
        { id: 10, name: 'John Doe8', img: 'corazon1.png' }
      ]
    }
  },
  mounted () {
    /* const myElement = document.querySelector('.container')
    // create a simple instance
    // by default, it only adds horizontal recognizers
    const mc = new Hammer(myElement)

    // listen to events...
    mc.on('swipeleft swiperight press', function (ev) {
      console.log(ev.type + ' gesture detected.')
    }) */

    function slideShow () {
      console.log('slideShow', change)
      if (change > 0) {
        container.scrollTop += height
      } else {
        container.scrollTop -= height
      }
      // container.scrollTop += 667
      console.log(container.scrollTop, 'scrop')
    }
    const container = document.querySelector('.container')
    const slide = document.querySelector('.slide')
    const box = document.querySelectorAll('.box')
    const height = box[0].offsetHeight
    slide.style.minHeight = `${1 * height}px`
    // console.log('height', box.length * height, 'height', height, 'box length:', box.length)
    let start
    let change

    container.addEventListener('dragstart', (e) => {
      start = e.clientY
    })

    container.addEventListener('dragover', (e) => {
      e.preventDefault()
      const touch = e.clientY
      change = start - touch
    })

    container.addEventListener('dragend', slideShow)

    container.addEventListener('touchstart', (e) => {
      start = e.touches[0].clientY
    })

    container.addEventListener('touchmove', (e) => {
      e.preventDefault()
      const touch = e.touches[0]
      change = start - touch.clientY
    })

    container.addEventListener('touchend', slideShow)
  }
}
</script>

<style>
.container {
  width: 100%;
  height: calc(100vh - 105px);
  overflow: hidden;
  cursor: pointer;
  mix-blend-mode: normal;
  background-color: #fff;
  scroll-behavior: smooth;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide .box {
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px 2px #0003;
  border-radius: 2px;
}

/*
.pagina {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(221, 214, 214);
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

.text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 900;
  text-align: center;
}

.text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 10px;
  mix-blend-mode: darken;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide .box {
  min-width: 260px;
  margin: 0 15px;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px 2px #0003;
  border-radius: 2px;
}

.box .detail {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 120%;
  text-shadow: -2px 2px 8px #888;
  pointer-events: none;
}

.box img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-height: 600px) {
  .container {
    mix-blend-mode: normal;
  }
}
*/
</style>
