<template>
  <div>
    <q-input rounded outlined dense class="q-ma-md" v-model="search" placeholder="Realiza tu busqueda" color="grey">
      <template v-slot:append>
        <q-icon name="search" />
      </template>
    </q-input>

    <q-tabs
      v-model="tab"
      dense
      class="text-grey q-mb-sm"
      active-color="secondary"
      indicator-color="white"
      align="justify"
      narrow-indicator
    >
      <q-tab name="usuarios" label="Usuarios" no-caps/>
      <q-tab name="videos" label="Videos" no-caps/>
      <q-tab name="hashtags" label="Hashtags" no-caps/>
    </q-tabs>

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="usuarios" class="q-pa-none">
      </q-tab-panel>

      <q-tab-panel name="videos" class="q-pa-none">
        <q-list>
          <div v-for="(item, index) in 5" :key="index">
            <q-item class="full-width">
              <q-item-section avatar>
                <q-avatar square style="width: 75px; height: 50px">
                  <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" :autoplay="false" loop muted>
                    <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
                    <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
                  </video>
                </q-avatar>
              </q-item-section>

              <q-item-section class="column justify-between">
                <q-item-label class="text-subtitle1">Video {{index + 1}}</q-item-label>
                <div class="row items-center">
                  <div class="row items-center col q-gutter-xs">
                    <q-icon name="insert_comment" color="secondary"/>
                    <div class="text-caption">1.5k</div>
                  </div>

                  <div class="row items-center col q-gutter-xs">
                    <q-icon name="favorite" color="secondary"/>
                    <div class="text-caption">1.5k</div>
                  </div>

                  <div class="row items-center col q-gutter-xs">
                    <q-icon name="visibility" color="secondary"/>
                    <div class="text-caption">1.5k</div>
                  </div>

                  <div class="row items-center col q-gutter-xs">
                    <q-icon name="img:VS_logo4.png" color="secondary"/>
                    <div class="text-caption">1.5k</div>
                  </div>
                </div>
              </q-item-section>

              <q-item-section side>
                <q-item-label class="text-bold text-grey">{{index + 1}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-separator class="q-ma-md"/>
          </div>
        </q-list>
      </q-tab-panel>

      <q-tab-panel name="hashtags" class="q-pa-none">
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
export default {
  data () {
    return {
      search: null,
      tab: 'usuarios'
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>
