<template>
  <div :class="!videos[0].length && !videos[1].length ? 'fondo column justify-between q-pa-lg' : ''">
    <div class="text-h5 text-bold" :class="!videos[0].length && !videos[1].length ? 'text-white' : 'q-pa-lg'">Tus videos</div>

    <div class="column items-center" :class="videos[0].length || videos[1].length ? 'q-px-lg' : ''">
      <div v-if="!videos[0].length && !videos[1].length" class="text-center text-white q-mb-lg">
        <div class="text-h6 text-bold">Aun no tienes videos</div>
        <div class="text-subtitle1">Presiona el botón <b>NUEVO VIDEO</b> para comenzar a cargar contenido</div>
      </div>

      <q-btn push color="primary" label="Nuevo video" @click="videos[0].push(1, 2, 3, 4, 5, 6, 7, 8), videos[1].push(1, 2, 3, 4, 5)" :style="`width: ${!videos[0].length && !videos[1].length ? '60%' : '100%'}`" no-caps/>
    </div>

    <div v-if="videos[0].length || videos[1].length">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey q-mb-sm"
        active-color="secondary"
        indicator-color="white"
        align="justify"
        narrow-indicator
      >
        <q-tab name="creados" label="Challenger creados" no-caps/>
        <q-tab name="participados" label="Challenger participados" no-caps/>
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="creados" class="q-pa-none">
          <q-list>
            <div v-for="(item, index) in videos[0]" :key="index">
              <q-item class="full-width">
                <q-item-section avatar top>
                  <q-avatar square style="width: 75px; height: 50px">
                    <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" :autoplay="false" loop muted>
                      <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
                      <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
                    </video>
                  </q-avatar>
                </q-item-section>

                <q-item-section class="column justify-between">
                  <q-item-label class="text-subtitle1">Video {{index + 1}}</q-item-label>
                  <div class="row items-center">
                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="insert_comment" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="favorite" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="visibility" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="img:VS_logo4.png" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>
                  </div>

                  <div class="row items-center q-gutter-sm">
                    <div class="row items-center q-gutter-xs">
                      <q-icon name="edit" color="secondary"/>
                      <div class="text-caption">Editar</div>
                    </div>

                    <div class="row items-center q-gutter-xs">
                      <q-icon name="delete" color="secondary"/>
                      <div class="text-caption">Eliminar</div>
                    </div>
                  </div>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label class="text-bold text-grey">{{index + 1}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-separator class="q-ma-sm"/>
            </div>
          </q-list>
        </q-tab-panel>

        <q-tab-panel name="participados" class="q-pa-none">
          <q-list>
            <div v-for="(item, index) in videos[1]" :key="index">
              <q-item class="full-width">
                <q-item-section avatar top>
                  <q-avatar square style="width: 75px; height: 50px">
                    <video height="100%" poster="https://cdn.quasar.dev/img/polina.jpg" :autoplay="false" loop muted>
                      <source type="video/webm" src="https://cdn.quasar.dev/img/polina.webm">
                      <source type="video/mp4" src="https://cdn.quasar.dev/img/polina.mp4">
                    </video>
                  </q-avatar>
                </q-item-section>

                <q-item-section class="column justify-between">
                  <q-item-label class="text-subtitle1">Video {{index + 1}}</q-item-label>
                  <div class="row items-center">
                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="insert_comment" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="favorite" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="visibility" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>

                    <div class="row items-center col q-gutter-xs">
                      <q-icon name="img:VS_logo4.png" color="secondary"/>
                      <div class="text-caption">1.5k</div>
                    </div>
                  </div>

                  <div class="row items-center q-gutter-sm">
                    <div class="row items-center q-gutter-xs">
                      <q-icon name="edit" color="secondary"/>
                      <div class="text-caption">Editar</div>
                    </div>

                    <div class="row items-center q-gutter-xs">
                      <q-icon name="delete" color="secondary"/>
                      <div class="text-caption">Eliminar</div>
                    </div>
                  </div>
                </q-item-section>

                <q-item-section side top>
                  <q-item-label class="text-bold text-grey q-py-xs">{{index + 1}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-separator class="q-ma-sm"/>
            </div>
          </q-list>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      videos: [
        [],
        []
      ],
      tab: 'creados'
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.fondo {
  background-image: url('../../../public/fondos/fondo3.jpg');
  background-attachment: fixed;
  min-height: calc(100vh - 58px);
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
