<template>
  <q-page>
  <div class="column">
    <div class="q-mt-lg column justify-center items-center  text-secondary text-h5 text-bold"> {{ title }} </div>
    <div class="column q-pb-md justify-center items-center  text-secondary text-h7"> Selecciona la cabecera del que utilizaremos en el Market </div>
  </div>

    <div class="row justify-center full-width q-col-gutter-y-md">
        <div class="row justify-center items-center col-12">
          <q-card @click="clickUploadImg" class="row items-center justify-center bg-grey col-xs-12 col-sm-5" style="height:100px">
            <div class="column justify-center items-center">
              <q-icon :name="$route.params.id ? 'edit' : 'upload'" size="lg" color="white"/>
              <q-file
                v-model="arrayImgPublic"
                ref="iconFileRef"
                accept=".jpg, image/*"
                multiple
                append
                max-files="1"
                style="display:none"
                :error="$v.arrayImgPublic.$error"
                @blur="$v.arrayImgPublic.$touch()"
              />
              <div class="text-white">{{ $route.params.id ? 'Edita la imagen aqui' : 'Selecciona una imagen' }} </div>
            </div>
          </q-card>
          <div class="row justify-center full-width">
            <p v-if="$v.arrayImgPublic.$error" class="row justify-center items-center col-12 text-subtitle1 text-red" > Ingresa una imagen </p>
          </div>
        </div>
        <q-dialog v-model="dialog">
          <q-card class="q-pa-md" style="width:600px;border-radius:25px">
            <div class="row justify-center items-center col-12">
              <q-card @click="clickUploadEditImg" class="row items-center justify-center bg-grey col-xs-12 col-sm-5" style="height:100px">
                <div class="column justify-center items-center">
                  <q-icon name="upload" size="lg" color="white" />
                  <q-file
                    v-model="arrayImgPublicEdit"
                    ref="iconFileRef"
                    accept=".jpg, image/*"
                    multiple
                    append
                    max-files="4"
                    style="display:none"
                    :error="$v.arrayImgPublicEdit.$error"
                    @blur="$v.arrayImgPublicEdit.$touch()"
                  />
                  <div class="text-white">Selecciona una imagen. </div>
                </div>
              </q-card>
              <div class="row justify-center full-width">
                <p v-if="$v.arrayImgPublicEdit.$error" class="row justify-center items-center col-12 text-subtitle1 text-red" > Ingresa una imagen </p>
              </div>
            </div>

            <div class="q-gutter-x-md q-pt-md q-pb-xl row col-xs-12 col-sm-5 justify-center">
              <q-card class="col-3" v-for="(item, index) in arrayImgPublicEdit" :key="index" style="height:150px">
                <q-btn
                  round
                  size="xs"
                  color="red"
                  icon="close"
                  style="position:absolute;top:0;right:0"
                  @click="deleteImgEdit(index)"
                />
                <img :src="createObjUrlImgEdit(index)" width="100%" height="100%">
              </q-card>
            </div>
            <q-card-actions class="q-px-lg" align="center">
              <q-btn label="Guardar" color="primary" @click="guardarImg()" />
              <q-btn flat label="Cancelar" color="primary" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

      <div v-if="!$route.params.id" class="q-gutter-x-md row col-xs-12 col-sm-5 justify-start">
        <q-card class="col-3" v-for="(item, index) in arrayImgPublic" :key="index" style="height:150px">
          <q-btn
            round
            size="xs"
            color="red"
            icon="close"
            style="position:absolute;top:0;right:0"
            @click="deleteImg(index)"
          />
          <img :src="createObjUrlImg(index)" width="100%" height="100%">
        </q-card>
      </div>
      <div
        v-else
        class="q-gutter-x-md row col-xs-12 col-sm-5 justify-start"
      >
        <q-card class="col-3" v-for="(item, index) in form.imgs" :key="index" style="height:150px">
          <q-btn
            v-if="!$route.params.id"
            round
            size="xs"
            color="red"
            icon="close"
            style="position:absolute;top:0;right:0"
          />
          <img :src="createObjUrlImgApi(index)" width="100%" height="100%">
        </q-card>

      </div>

      <div class="row items-center justify-center col-12 q-pt-xl">
        <div class="column col-xs-11 col-sm-5">
          <div class="q-pb-sm text-black">Introduce el link donde redireccionara la imagen. </div>
          <div class="col-xs-11 col-sm-5">
            <q-input
              v-model="form.name"
              outlined
              placeholder="https://www.gorus.com"
              :error="$v.form.name.$error"
              @blur="$v.form.name.$touch()"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row items-center justify-center q-pt-lg full-width q-gutter-x-sm q-pb-md">
      <div class="col-xs-4 col-sm-2">
        <q-btn to="/publicidad" label="Atras" color="secondary" push class="full-width" />
      </div>
      <div class="col-xs-4 col-sm-2">
        <q-btn label="Guardar" color="secondary" push class="full-width" @click="guardar()" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
import { FormMixin } from '../../mixins/Form'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Banner de Publicidad',
      route: 'publicidad',
      dialog: false,
      form: {
        name: ''
      },
      arrayImgPublic: null,
      arrayImgPublicEdit: null
    }
  },
  mounted () {
    if (this.$route.params.id) {
      this.getRecord()
    }
  },
  validations () {
    return {
      form: {
        name: { required }
      },
      arrayImgPublic: {
        required: requiredIf(function () {
          return !this.$route.params.id
        })
      },
      arrayImgPublicEdit: {
        required: requiredIf(function () {
          return this.dialog
        })
      }
    }
  },
  methods: {
    createObjUrlImgApi (index) {
      const apiImg = this.$api_url() + `publicidad_img/${this.$route.params.id}/${index}`
      console.log(apiImg, 'daleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee', this.$api_url())
      return apiImg
    },
    async guardar () {
      this.$v.$touch()
      if (this.$v.$invalid) { return }

      this.$q.loading.show()
      const formData = new FormData()
      if (!this.$route.params.id && this.arrayImgPublic.length > 0) {
        this.form.imgs = 0
        for (const i in this.arrayImgPublic) {
          formData.append('image_' + i, this.arrayImgPublic[i])
        }
        this.form.imgs = this.arrayImgPublic.length
      }
      formData.append('dat', JSON.stringify(this.form))
      const method = this.$route.params.id ? 'put' : 'post'
      const url = this.$route.params.id ? `${this.route}/${this.$route.params.id}` : this.route
      await this.$api[method](url, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registro guardado',
            color: 'positive'
          })
          this.$router.push('/publicidad')
        }
      })
    },
    async guardarImg () {
      this.$v.arrayImgPublicEdit.$touch()
      if (this.$v.arrayImgPublicEdit.$invalid) { return }

      this.$q.loading.show()
      const formData = new FormData()
      let imgs = 0
      if (this.arrayImgPublicEdit.length > 0) {
        for (const i in this.arrayImgPublicEdit) {
          formData.append('image_' + i, this.arrayImgPublicEdit[i])
        }
        imgs = this.arrayImgPublicEdit.length
      }

      formData.append('dat', JSON.stringify({
        imgs: imgs
      }))
      const url = `publicidad_edit_img/${this.$route.params.id}`
      await this.$api.put(url, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            message: 'Registro guardado',
            color: 'positive'
          })
          this.getRecord()
          location.reload()
        }
      })
    },
    beforeValidate () {
      console.log(this.form, 'beforeValidate')
    },
    test () {
      console.log(this.form, 'form')
    },
    createObjUrlImg (ind) {
      const url = URL.createObjectURL(this.arrayImgPublic[ind])
      return url
    },
    createObjUrlImgEdit (ind) {
      const url = URL.createObjectURL(this.arrayImgPublicEdit[ind])
      return url
    },
    clickUploadImg () {
      if (this.$route.params.id) {
        this.dialog = true
      } else {
        this.$refs.iconFileRef.$el.click()
      }
    },
    clickUploadEditImg () {
      this.$refs.iconFileRef.$el.click()
    },
    deleteImg (ind) {
      this.arrayImgPublic.splice(ind, 1)
    },
    deleteImgEdit (ind) {
      this.arrayImgPublicEdit.splice(ind, 1)
    }
  }
}
</script>

<style>

</style>
