<template>
  <q-page class="q-pa-lg">
    <div class="text-h5 text-bold q-pl-lg"> {{title}} </div>
    <div class="full-width q-px-md">
      <listable
        :columns="columns"
        :apiroute="'publicidad'"
        :nameModule="'listado-publicidad'"
        :btnNewObject="btnNewObject"
        @changeBlocked="changeBlocked"
      />
    </div>
  </q-page>
</template>

<script>
import Listable from '../../components/Listable.vue'
export default {
  components: {
    Listable
  },
  data () {
    return {
      title: 'Listado de Publicidad',
      btnNewObject: { title: 'Nueva Publicidad', permission: '1', url: '/publicidad/form' },
      columns: [
        { name: 'name', label: 'Link', field: 'name', sortable: false, align: 'left' },
        { name: 'actions', label: 'Opciones', field: 'actions', sortable: false, align: 'center' }
      ]
    }
  },
  methods: {
    changeBlocked (newValue, id) {
      console.log('changeBlocked111', newValue, id)
      this.$api.put('producto_blocked/' + id, { isBlocked: newValue }).then(res => {
        if (res) {
          this.$q.notify({
            message: 'guardado correctamente',
            color: 'positive',
            icon: 'check'
          })
        }
      })
    }
  }
}
</script>

<style>

</style>
